
input {
    background: #fafafa;
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
    color: #666;
  }
.container{
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: rgba(178, 220, 229, 0.105);
  border: #666;
  padding: 20px;

}